
.content {
    position: relative;
}
.create-random {
    position: absolute;
    top: 20px;
    right: 10px;
}
.create-specific {
    position: absolute;
    width: 30%;
    top: 50px;
    right: 10px;
}

.create-specific .submit {
    position: absolute;
    top: 20px;
    right: 0;
}

.interval {
    position: absolute;
    top:2px;
    height: 30px;
}
.interval.cover-true {
    background: #0f0;
}
.interval.cover-false {
    background: #f00;
}
.interval.interval-example {
    background: #ccc;
}
tr.example {
    background: #eee;
}

.graphCol {
    position: relative;
    border-left: 1px dashed #333;
    border-right: 1px dashed #333;
}